        @media only screen and (max-width: 390px) {
            .register-container>form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                border: 1px solid rgb(157, 117, 79);
                box-shadow: 10px 10px 40px grey;
            }
            .reportscontainer {
                width: 10%;
            }
            .register-container>form>input {
                padding: 15px;
                width: 100%;
                margin: 10px 200px;
                /* border: none; */
                border-radius: 5px;
            }
            /* reports */
            .report-container {
                display: flex;
                justify-content: space-around;
                height: 20vh;
                width: 100%;
            }
            table {
                border-collapse: collapse;
                width: 30%;
                margin-bottom: 0.5rem;
                padding: 1rem;
                word-wrap: break-word;
            }
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 1em;
                word-wrap: break-word;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .tbtn span {
                padding: 3px;
            }
            .tbtn .btn1 {
                padding: 4px;
                color: rgb(126, 46, 46);
                margin-bottom: 30px;
                cursor: pointer;
            }
            @media only screen and (max-width: 414px) {
                .register-container>form {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 10px;
                    border: 1px solid rgb(119, 98, 66);
                    box-shadow: 10px 10px 40px rgb(149, 118, 74);
                }
                .register-container>form>input {
                    padding: 15px;
                    width: 100%;
                    margin: 10px 200px;
                    /* border: none; */
                    border-radius: 5px;
                }
            }
            @media only screen and (min-width: 912px) {
                .register-container>form {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 10px;
                    border: 1px solid rgb(153, 128, 65);
                    box-shadow: 10px 10px 40px rgb(124, 106, 56);
                }
                .register-container>form>input {
                    padding: 35px;
                    width: 100%;
                    margin: 10px 200px;
                    /* border: none; */
                    border-radius: 5px;
                }
            }
        }
        /* login */
        
        @media only screen and (max-width: 414px) {
            .login-container>form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                border: 1px solid rgba(128, 128, 128, 0.584);
                box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.881);
            }
            .login-container>form>input {
                padding: 15px;
                width: 100%;
                margin: 10px 200px;
                /* border: none; */
                border-radius: 5px;
            }
        }
        
        @media only screen and (max-width: 912px) {
            .login-container>form {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;
                border: 1px solid rgba(128, 128, 128, 0.228);
                box-shadow: 10px 10px 40px grey;
            }
            .login-container>form>input {
                padding: 15px;
                width: 100%;
                margin: 10px 200px;
                /* border: none; */
                border-radius: 5px;
            }
        }